.home {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -50px;
    min-width: 830px;
}

.home_img {
    z-index: -1;
    margin-bottom: -180px;
    mask-image: linear-gradient(to bottom,  rgb(0,4,5), rgba(28, 100, 205, 0) );
    /* -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent); */
    mask-size: 70%;
    filter: contrast(1.4);
    padding-bottom: 50px;
    min-width: 830px;
    width: 100%;
}

.home_row {
    display: flex;
    z-index: 1;
    margin: 0 5px;
    justify-content: space-around;
}

.product_blocks{
    margin-top: -35px;
}
.slider_all_data{
    background-color: #fff;
}
